@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC&display=swap');

body{
    background-color: white;
    padding: 0px;
    margin: 0px;
    font-family: 'Vollkorn SC', serif;
}

.container{
    width: 100%;
}

#article{
    display: flex;
    font-weight: bolder;
    font-size: 70px;
}

#header{
    width: 100%;
}

@media(max-width: 300px){
    #article{
        font-size: 45px;
    }
}

@media(max-width: 200px){
    #article{
        font-size: 25px;
    }
}