@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC&display=swap');

body{
    background-color: white;
    padding: 0px;
    margin: 0px;
    font-family: 'Vollkorn SC', serif;
    font-size: 25px;
}

.container{
    width: 100%;
}

h2, h3{
    text-align: center;
}

img{
    width: 100%;
}

#header{
    width: 100%;
}

#direitos_autorais{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

@media(max-width: 800px){

    #direitos_autorais{
        font-size: 25px;
    }

}