@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC&display=swap');

body{
    background-color: white;
    padding: 0px;
    margin: 0px;
    font-family: 'Vollkorn SC', serif;
    font-size: 25px;
}

.container{
    width: 100%;
}

/*#article{
    display: flex;
}*/

img{
    width: 100%;
}

#paragrafo{
    width: 80%;
}

#header{
    width: 100%;
}

#bloco{
    display: flex;
}

@media(max-width: 800px){
    #bloco{
        display: block;
    }
}